<div data-controller="projects-dashboard" class="relative w-full h-screen overflow-hidden bg-black">
  <%= render "projects/partials/background" %>

  <!-- Content Container -->
  <div class="relative z-10 h-full flex flex-col">
    <%= render "projects/partials/header" %>
    <%= render "projects/partials/projects_carousel" %>
    <%= render "projects/partials/main_content" %>
  </div>
</div>

<%= render "projects/partials/styles" %>
