<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="<%= asset_path('logo.png') %>" type="image/png">
    <link rel="apple-touch-icon" href="<%= asset_path('logo.png') %>">
    <title><%= content_for(:title) || "MetaOriginal" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= vite_javascript_tag 'application' %>
    <%= vite_client_tag %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
